*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2b2b2b;
    color: rgb(186, 186, 186);
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./img/rua_fase1.png);
}

